{% extends 'index.html.j2' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{static('css/selectize.bootstrap3.css')}}">
<script src="{{static('js/selectize.min.js')}}"></script>
<script src="{{static('js/handlebars.js')}}"></script>
<script src="{{static('js/moment.js')}}"></script>
{% endblock %}

{% block main %}
<form>
	<div class="form-group">
		<select id="name_search" class="form-control" placeholder="Username or Fullname"></select>
	</div>
</form>

<div id="table_target">
	
</div>


{% endblock %}

{% block scripts %}
{% raw %}
<script id="records_table_template" type="text/x-handlebars-template">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Current Info</h3>
	</div>
	<div class="panel-body">
		<p>Computer Name: {{current.computer_name}}</p>
		<p>IP Address: {{current.ip_address}}</p>
		<p>Action: {{current.action}}</p>
		<p>Age: {{fromNow current.created}}</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Historical Info</h3>
	</div>
	<div class="panel-body">
		<p>Historical information for this user. The IP addresses listed are most likely out of date!!.</p>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Computer Name</th>
				<th>Action</th>
				<th>Age</th>
				<th>Expired</th>
			</tr>
		</thead>
		<tbody>
			{{#each history}}
				<tr>
					<td>
						<a href="tvnc://{{this.ip_address}}">{{this.ip_address}}</a>
					</td>
					<td>{{this.computer_name}}</td>
					<td>{{this.action}}</td>
					<td>{{fromNow this.created}}</td>
					<td>{{this.expired}}</td>
				</tr>
			{{else}}
				<tr>
					<td colspan='5' class="bg-danger"><span class="center-block">There is no history data for this user.</span></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
<div>
</script>
{% endraw %}

{% raw %}
<script id="option_template" type="text/x-handlebars-template">
		<div>
			<span class="username">{{username}}</span> - <span class="fullname">({{fullname}})</span>
		</div>
</script>
{% endraw %}

{% raw %}
<script id="display_template" type="text/x-handlebars-template">
{{this.username}} - ({{this.fullname}})
</script>
{% endraw %}

{% raw %}
<script id="notfound_template" type="text/x-handlebars-template">
<div>Could not find any results for the query: {{query}}</div>
</script>
{% endraw %}

<script>
Handlebars.registerHelper('fromNow', function(dateString) {
	if (window.moment) {
		return moment(dateString).fromNow();
	} else {
		return dateString;
	}
})

// Handlebars Templates
var results_table = Handlebars.compile($('#records_table_template').html());
var option_template = Handlebars.compile($('#option_template').html());
var display_template = Handlebars.compile($('#display_template').html());


$('#name_search').selectize({
	valueField: 'username',
	labelField: 'fullname',
	searchField: ['username', 'fullname'],
	create: false,
	render: {
		option: function(item, escape) {
			return option_template(item);
		}
	},
	load: function(query, callback) {
		if (!window.name_search_preloaded) {
			query = '!!preload'
			window.name_search_preloaded = true
		}
		$.ajax({
			url: "{{url('search')}}",
			type: 'GET',
			data: {
				q: query,
			},
			error: function() {
				callback();
			},
			success: function(res) {
				console.log(res);
				callback(res.results);
			}
		})
	},
	preload: true,
	onChange: function(value){
		console.log(value);
		$.get("{{url('user_info')}}", {term: value}, function(data){$('#table_target').html(results_table(data));}, 'json');
	}

})



// var records_table_builder = function(data, textStatus, jqXHR) {
// 	$('#table_target').html(results_table(data));
	
// }

// $('#name_search').bind('typeahead:select', function(ev, suggestion) {
// 	$.get("{{url('user_info')}}", {term: suggestion.username}, records_table_builder, 'json');
// })

// var suggestion_wrapper = function(data) {
// 	console.log(data);
// 	console.log(suggestion_template(data));
// 	return suggestion_template(data);
// }

// var autocomplete_engine = new Bloodhound({
// 	remote: {
// 		url: '/api/v1/search?q=@',
// 		wildcard: '@',
// 		transform: function(response) {console.log(response); if (response.results.length == 0) {response.results = null}; return response}
// 	},
// 	queryTokenizer: Bloodhound.tokenizers.whitespace,
//   	datumTokenizer: Bloodhound.tokenizers.whitespace,
//   	identify: function(obj) {return obj['username']},

// })

// $('#name_search').typeahead({
// 	minLength: 2,
// },
// {
// 	name: 'RemoteUsernames',
// 	source: autocomplete_engine.ttAdapter(),
// 	// display: typeahead_display_template,
// 	// templates: {
// 	// 	suggestion: function(data){return typeahead_suggestion_template(data)},
// 	// }
// })
</script>
{% endblock %}